*
{
    box-sizing: border-box; /*incluye relleno y borde este incluido en el ancho y borde de la caja*/
    padding: 0;
    margin:0;

}

body{
    font-style:  'Roboto', sans-serif;
}

.main-header{
    background-color: #EAC926;
    padding:20px;
}

.logo{
    width: 200px;
}

.copy-header{
    font-weight: 400;
    align-items: center;
}

.buscar{
    background-color:white;
    color:#666666;
    border:solid 1px #666666;
}

.hamburguer-button{
    background-color: #03264C;
    color:white;
    display: block;
    max-width: 40px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto; /*me lo centra porque esta en el display block*/
}

.main-navbar{
display:none; /*oculto la barra de nav. para que no muestre en version mobile*/
}

.main-navbar ul
{
    list-style: none;
    margin:0;
    padding:0;
}

.main-navbar a
{
    text-decoration: none;
    color:black;
    display: inline-block; /* las etiquetas "a" son elemenos de linea para este caso lo deshabilito */
    padding:5px;
    font-size: 17px;
                
}

.hero-container{
    display: block;
    /*border: dotted 2px red;    */
    margin: auto;
    padding: 0;
   
}

.img-hero {
    width: 100%;
    padding: 8px;
    margin: 0 auto;
    text-align: center;

}

main{
    width: 90%; 
    margin: 0 auto;
}


/*.contenedor-article{*/

.articulos{
    background-color: #ebebeb;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:auto;
}


.h1-art{
    color: #666666;
    font-style: normal;
    font-size: 20px;
    padding-left: 80px;
    display: inline-block;

}

main section article{
    background-color: #fff;
    margin: 10px 0px;
}

main section article img{
    width: 280px;
    height: 300px;
    margin: auto;
    align-content: center;
}

main section article i, .descuento{
    color: #39b54a;
}



.precio{
    font-size: 20px;
    font-weight: bold;

}

.div-art{
    /*border: solid 2px red;*/
    padding: 5px;
    margin: auto;
    /*box-shadow:3px 3px 3px 3px#B4B5AD;*/
}

.div-art img{
    width: 100px;
    height: 100px;
}


.h4-art{
    font-size: 20px;
    font-weight:normal;
    padding: 5px;
}

.h5-art{
    color:#666666;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    padding: 5px;
    
}


main section article i{
border: solid 1px tomato;
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
   
    right: -180px;
    transform: rotate(0turn) ;
    top: -40%;
    transition: all 1s;
}


.descripcion{
    display: none;
}


article:hover .descripcion{
    display: block;
}

main section article:hover{
    box-shadow: 0px 0px 10px rgb(100,100,100);

}
main section article .descripcion:hover .truck{
    transform: rotate(-.25turn) ;
}






/****************  Register *****************/
.main-register
{
    background-color: #e4e4e4;
}
.contenedor-register{
    margin: auto;;
}
.contenedor-register form input 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items:center ;
    padding: 1%;
    font-size: .8rem;
    border-radius: 10%;
    border-color: white;
    margin: auto;
}

.contenedor-register form input{
    margin: .5rem;
    width: 30%;
    border: #fff .2rem solid;
    border-radius: 5%;
}

.contenedor-register form label{
    width: 30%;
    text-align: right;
}

.contenedor-register form .user-type{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.checkbox-classes{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center
}

.contenedor-register form .checkbox-classes label{
    display: flex;
    width: 100%;
}

.contenedor-register form .checkbox-classes label input{
    width: 15%;
}
.contenedor-registerform div label h5{
    margin: 0;
}

.button-container{
    width: 100%;
    display: flex;
    justify-content: center
}

.button-register button{
    width: 140px;
    height: 30px;
    margin: 1rem;
    transition: all 1s;
    padding: 1%;
    border-radius: 10%;
    text-align: center;
    
    
}


.button-register button:hover{
    background-color:#03264C;
    color:white
}


/**************** Fin Register *****************/


.footer-container
{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content:space-around;
    margin: auto;
    padding:5%;
}

.footer-container i{
    color: #03264C;
    font-size: 30px;
    display:flex;
    justify-content: center;
    margin: auto;
}

.p-footer{
    color:#666666;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    padding:3px;
}

.footer-obs{
    font-size: 12px;
    text-align: center;
}





@media (min-width:360px){

    .logo{
        width: 150px;
    }
    
    .copy-header{
        width:350px;
        font-size: 15px;
        text-align: center;
        padding: 8px;
    }

    .buscar{
        align-content:flex-end;
        display: flex;
        width: 10px;
        background-color:white;
        color:#666666;
        border:solid 1px #666666;
        margin: auto;
    }
    .input-buscar
    {
        align-content:flex-end;
        display: flex;
        width: 10px;
        height: 20px;
        background-color:white;
        border: solid 1px white;
        width: 100px;
    }



        .hero-container{
            /*display: block;*/
            /*border: dotted 2px red;    */
            width: 100%;
            height: auto;
            margin: auto;
           
        }
        
        .img-hero {
            width: 100%;
            padding: 8px;
            margin: 0 auto;
            text-align: center;
        
        }

        main section article{
            margin: auto;
        }
        

        .footer-container i{
            font-size: 20px;        
        }

        .p-footer{
            color:#666666;
            font-weight: bold;
            text-align: center;
            font-size: 15px;
        }


        .footer-obs{
            font-size: 10px;
            text-align: center;
        }

}



@media (min-width:768px){

    .main-header-top-bar{
        display: flex; /*trabajo sobre el contenedor*/
        justify-content: space-between; /*espacio sobre el elementos del contenedor debe ser homogeneo*/       
    }
    .copy-header{
        width:350px;
        text-align: right;
    }
    .hamburguer-button{
        display:none;
    }
    .main-navbar{
        display: flex;
        /*border: dotted 2px red;*/
        justify-content: space-between;
    }


    .main-navbar a
    {
        font-size: 12px;
                    
    }

    /*a la lista del navbar le doy la propiedad flex para poder posicionar una elemento al lado del otro*/
    .main-navbar ul{
        display: flex;
    }
    
    
    .main-navbar li{
        margin: 0 5px;
    }

   


}

/* para que al agrandar los contenedores de flexbox
tengan un limite y no queden tan separaditos */
@media(min-width:1200px){
    .logo{
        width: 250px;
    }
    
    .main-header-top-bar, .main-navbar{
        max-width: 1200px;
        /*border: olive solid 2px;*/
        margin:auto;  /*con esto centro ambos elementos*/
    }

    .main-header-top-bar{
        align-items: center; 
        /*border: red solid 2px;*/
    }
    
    .copy-header{
        margin: 0;
        max-width: none; /*no tiene limite el testo "compra en ctas y sin tarj-"*/
        font-size: 18px;
        font-weight: 400;
        /*border: red solid 2px;*/
        text-align: center;
        }
   
        .buscar{
            align-content:flex-end;
            display: flex;
            width: 10px;
            background-color:white;
            color:#666666;
            border:solid 1px #666666;
            margin: auto;
        }
        .input-buscar
        {
            align-content:flex-end;
            display: flex;
            width: 50px;
            height: 20px;
            background-color:white;
            border: solid 1px white;
            width: 100px;
        }
    
    

        
    .main-navbar{
        margin-top: 30px;
    }
    .main-navbar li{
        margin:0 5px;
    }
    .main-navbar a{
        font-size: 19px;
    }
    

}
