<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/1e90c6fbb0.js" crossorigin="anonymous"></script>

    <title>Registrarse</title>
</head>

<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img  src="/img/logo-mercado-liebre.svg" alt="" class="logo" >
            <div class="buscar">
                <input type="text" placeholder="Buscar productos, marcas" > <i class="fas fa-search"></i>
            </div>
            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        <a href="#" class="hamburguer-button">
            <i class="fas fa-bars"></i>
        </a>
        
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="#">Creá tu cuenta <i class="fas fa-credit-card"></i></a></li>
                <li><a href="#">Ingresá <i class="fas fa-arrow-right"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="hero-container">
            <img src="/img/img-home-banner.jpg" alt ="" class="img-hero">
        </div>
    </header>

    <main class="main-register">
    <div class="contenedor-register">
        <form action="POST">
            <label for="name">Nombre y Apellido: <input class="input-register" type="text" name="name"></label>
            <label for="user">Nombre Usuario: <input class="input-register" type="text" name="user"></label>
            <label for="birthday">Fecha de nacimiento:<input class="input-register" type="date" name="birthday"></label>
            <label for="direction">Domicilio:<input class="input-register" type="text" name="direction"></label>
            <div class ="user-type">
                <h5>Tipo de Usuario</h5>
                <label>
                    <input type="checkbox" class="check-user" name="user-type" id="user-type" value="seller">Vendedor  
                </label>
                <label>
                    <input type="checkbox" class="check-user" name="user-type" id="user-type" value="buyer">Comprador
                </label>
            </div>
       
            <div class="checkbox-classes">
                <h5>Categorías de interes</h5>
                <label><input id ="check-category" type = "checkbox" name="cat-electro" value="electro">Electro</label>
                <label><input id ="check-category" type = "checkbox" name="cat-moda" value="moda">Moda</label>
                <label><input id ="check-category" type = "checkbox" name="cat-hogar" value="hogar">Hogar</label>
                <label><input id ="check-category" type = "checkbox" name="cat-jugueteria" value="jugueteria">Jugueteria</label>
                <label><input id ="check-category" type = "checkbox" name="cat-vidasana" value="vidasana">Vida Sana</label>
            </div>
            <label for="photo">Foto de usuario: <button type ="submit" name="photo" >Seleccionar Archivo</button></label>
            <label for="pass">Contraseña: <input class="input-register" type = "password" name="pass" ></label>
            <label for="pass-confirm">Confirmar Contraseña: <input class="input-register" type = "password" name="pass-confirm" ></label>
            <div class="button-register">
                <button type="submit">Enviar</button>
                <button type="reset">Borrar</button>
            </div>
        </form>
    </div>

    </main>

    
    <footer>
        <div class ="footer-container">
            <div class="footer-box">
                <i class="far fa-credit-card"></i>
                <p class="p-footer">Pagá con tarjeta o en efectivo</p>
                <p class="footer-obs">Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en <br>puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="footer-box">
                <i class="fas fa-gift"></i>
                <p class="p-footer">Envío gratis desde los $2.500</p>
                <p class="footer-obs">Solo por estar registrad@ en Mercadoliebre tenés envios gratis en miles de <br> productos. Es un beneficio de MercadoPuntos</p>
            </div>
            <div class="footer-box">
                <i class="fas fa-user-shield"></i>
                <p class="p-footer">Seguridad de principio a fin</p>
                <p class="footer-obs">¿No te gusta? ¡Devolvelo! en Mercadoliebre no hay nada que no puedas <br> hacer porque estás siempre protegid@</p>
            </div>
        </div>

    </footer>
    
</body>
</html>